.Story {
  display: grid;
  grid-template-rows: auto auto auto auto;
  width: 100vw;
  font-family:sans-serif;
}
.Story #image-block {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Story .overlay {
  background: hsla(2, 10%, 50%, 0.5);
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Story section:nth-child(even) {
  background: #C6DE75;
}
.Story section:nth-child(odd) {
  background: gainsboro;
}
.Story h1 {
  font-size: 5.5em;
  text-shadow: grey 0px 4px;
  color: white;
}
.Story h2 {
  font-size: 5.5em;
  text-shadow: grey 0px 4px;
}
.Story p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  font-size: 1.5em;
  font-weight: 300;
}