.NavBar {
  background-color: #728a45;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 5px;
  position: fixed;
  top: 0;
  transition: top 0.3s;
}
.NavBar section {
  background: #ece7d9;
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 2rem;
  padding: 5px;
  width: 80%;
}
